*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  background-color: #eeeff1;
  min-height: 700px;
  padding-top: 80px;
}
.header-navbar {
  margin-bottom: 40px;
}
.header-navbar__list {
  list-style: none;
  display: flex;
  gap: 42px;
  padding: 0;
  flex-wrap: wrap;
}
.header-navbar__link {
  letter-spacing: 0.1em;
  color: #000000;
}
.header-navbar__link.active {
  font-weight: 500;
  color: #34547a;
}
.header-content {
  max-width: 540px;
}
.header-content__titel {
  margin-top: 150px;
  margin-bottom: 35px;
  font-size: 48px;
  font-weight: 500;
  line-height: 79px;
  color: #000000;
}
.header-content__discription {
  line-height: 25px;
  color: #727272;
  margin-bottom: 60px;
}
.header-content__link {
  width: 225px;
  height: 65px;
  background: #34547a;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 1em;
  color: #ffffff;
}
.main {
  background-color: #ffffff;
}
.about {
  padding: 112px 0 92px;
}
.about__container {
  margin: 0 auto;
  width: 580px;
  padding: 20px;
}
.about__titel {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 39px;
}
.about__discription {
  line-height: 26px;
  text-align: center;
  color: #727272;
}
.experience {
  min-height: 250px;
  background-color: #34547a;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.container--experience {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
}
.experience-item {
  display: flex;
  gap: 20px;
}
.experience-item__image {
  display: block;
}
.experience-item__titel {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}
.experience-item__name {
  line-height: 26px;
}
.process {
  padding: 100px 0 100px;
}
.process__container {
  max-width: 540px;
  margin: 0 auto;
}
.process__titel {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.process__discription {
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-bottom: 50px;
}
.process__video {
  width: 100%;
  height: 600px;
  border: none;
}
footer {
  min-height: 150px;
  background-color: #34547a;
  color: #ffffff;
  padding: 50px 0 44px;
}
.footer__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}
.footer__copyright {
  font-size: 13px;
  line-height: 21px;
}
